#portfolio_section {
  padding: 100px 0 150px 0;
  .prot_header_text {
    h2 {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
    }
    p {
      padding: 50px 0;
      font-size: 20px;
      text-transform: uppercase;
    }
    ul {
      li {
        display: inline;
        padding: 0 20px;
        a {
          font-size: 18px;
          padding: 5px 5px;
          text-transform: uppercase;
          color: orange;
          border-radius: 5px;
          &:hover {
            color: black;
          }
        }
      }
    }
    .tab-content {
      img {
        width: 400px;
        padding-top: 40px;
      }
    }
  }
}
